/* 设置整个页面的基本样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

/* 播放按钮图标 */
.play-button:before {
    content: '▶'; /* 默认使用红色 ▶ */
    font-size: 48px;
    color: red;
}

.play-button.paused:before {
    content: '⏸'; /* 改为暂停图标 */
    color: gray;
    font-size: 48px;
}
